:root {
    --clr-background : rgb(0, 0, 154);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:var(--clr-background) ;
}
.mainPage{
    border: 1px solid red;
    position: relative;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px; 
    border-radius: 20px;
    z-index: 0;   
    top: 100px;
    height: fit-content;
}
label{
    color: rgb(4, 5, 58);
    text-align: center;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 38px;   
    font-weight: bold;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#guess{
    width: 650px;
    height: 50px;
    text-align: center; 
    position: relative;
    background-color: rgba(0, 0, 255, 0.271);
    font-weight: bold;
    font-size: 30px;
  
}
#valider{ 
    position: relative;
    background: yellow;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
    width: 80px;
    height: 50px;
    font-size: 25px;
    margin: 30px;
   
}
#valider:hover{
    background: rgb(237, 12, 8);
    color: white;
   
}
p { 
  
    width: 85%;
    text-align: center;
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
}


@media screen and (min-width: 600px){
    .mainPage{
        width: 50%;
        left: 25%;
    }
}


nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    letter-spacing: var(--spacing);
    margin-right: 1rem;
    text-decoration: none;
}
